@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .responsive-padding {
    @apply px-8 sm:px-12 md:px-16 lg:px-20 xl:px-24 2xl:px-52;
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

